*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul{
  list-style: none;
}
.container{
  width: 800px;
  margin: auto;

}
ul li{
  text-align: center;
  margin: 50px 0;
}
ul li img{
  max-width: 500px;
  transform: translateX(-50%);
  transition: transform ease 0.5s;
  
}
.actor img{
  max-width: 800px;
  transform: translateX(50%);
  transition: transform ease 0.5s;
  
}
.fade img{
  transform: translateX(0);
  
}
/* .d-flex{
  display: flex;
} */



