*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: whitesmoke;
}
.main{
    border-radius: 30px;
    /* overflow: hidden; */
    width: 93%;
    /* height: 530px; */
    margin: 30px auto;
    background-color: white;
    box-shadow: 0px 20px 100px rgba(0,0,0,0.1);

}
.movie-img{
    padding: 10px 10px;
    position: relative;
}
.backimg{
    height: 340px;
    width: 100%;
    border-radius: 20px;
}
.movie-img img{
    background-size: cover;
}
.movie-cover{
    position: absolute;
    height: 138px;
    bottom: -58px;
    left: 32px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(0,0,0,0.1);
}
.fa-play{
    position: absolute;
    right: 28px;
    bottom: -7px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    background-color: #dc2c29;
    color: white;
    border-radius: 60px;
}
.fa-trailor{
    position: absolute;
    width: 84px;
    height: 21px;
    background-color: red;
    right: 61px;
    bottom: 2px;
    color: white;
    /* text-align: center; */
    font-family: sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.fa-trailor p{
   font-size: 10px; 
}
.main h6{
    margin-left: 139px;
    text-transform: capitalize;
    margin-top: 15px;
    font-size: 1.3em;
    font-family:sans-serif;

}
.rating{
    height: 20px;
    margin-left: 130px;
    margin-top: 0px;
}
.head1{
    text-align: center;
    column-count: 3;
    height: 30px;
    padding: 0px 26px;
    width: 100%;
    margin-top: 25px;
}
.head1 p{
    /* color: rgb(0,0,0,0.7);
    font-family: sans-serif;
    font-size: 0.9em; */
    font-weight: 700;
    font-size: 13px;
    color: rgb(252, 54, 19);
    font-family: 'Varela Round', sans-serif;
    margin: 5px;
}
.head2{
    text-align: center;
    column-count: 3;
    height: 30px;
    padding: 0px 26px;
    width: 100%;
}
.head2 p{
    color: rgb(0,0,0,0.7);
    font-family: sans-serif;
    font-size: 0.9em;
    
}
.swiper-container {
    width: 93%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
}
.actor-section{
    border-top: 1px solid rgb(219, 199, 199);
    margin: 5px 0px;
    
}
.actor a{
    text-decoration: none;
    font-size: 0.6em;
    color: rgb(0,0,0,0.7);
    font-family: sans-serif;
    font-weight: 600;

}
.actor img{
    margin-top: 3px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.basic-head{
    color: rgb(0,0,0,0.7);
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight: 800;  
}
.head3{
    display: flex;
    margin: 7px 4px;
    align-items: center;
}
.head3 p{
    color: rgb(0,0,0,0.7);
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight: 600; 
}
.head3 h5{
    color: rgba(17, 16, 16, 0.7);
    font-family: sans-serif;
    font-size: 0.8em;
}
.story{
    display: flex;
    border: 1px solid #ddd1d1;
    width: 95%;
    
    box-shadow: 0 5PX 5PX rgba(0,0,0,0.15);
    
    margin: auto;

}
.story-p p{
   height: 60px;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    text-overflow: ellipsis;
    color: rgba(17, 16, 16, 0.7);
    font-family: sans-serif;
    font-size: 0.8em;
}
.image-section{
    border-top: 1px solid rgb(219, 199, 199);
    margin: 5px 0px; 
}
.movie-images img{
    
        margin-top: 3px;
        width: 90px;
        height: 90px;
        
    
}
.movie-mega-card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }
  .movie-mega-card a{
    text-decoration: none;
  }
  .movie-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin:14px; 
    width: 160px;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  }
  .movie-card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 12rem;
     width: 100%;
  }
  .movie-card-title{
    text-align: center;
    font-family: sans-serif;
      font-weight: 700;
      font-size: 0.8em;
      color: rgb(235, 0, 0);
  }
  .movie-card-info{
    font-size: 0.7em;
    text-align: center;
    margin-top: 9px;
  }
  .card-body{
    margin-top: 5px;
    height: 30px;
  }

  /*MOVIE VIDEO*/
  .movie-video{
      width: 100%;
      height: 160px;
  }
  .embed-class{
    width:100%;
    height:100%;
  }
  /*TRAILOR SHOW BUTTON*/
  .video-container{
    position: fixed;
    top: 10%;
    left: 10%;
    width: 90%;
    /* height: 400px; */
    z-index: 9999;
   
    /* display: flex; */
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3 ;

}
.video-container .close{
    position: absolute;
    top: 2%;
    right: 10%;
    font-size: 23px;
    cursor: pointer;
    color: red;
    z-index: 9999;
    font-weight: 900;

}
.video-container iframe{
    width: 90%;
    max-width: 800px;
    transform: scale(0);
    outline: none;
    transition: all 0.3s;
}
.video-container.show{
    pointer-events: all;
    opacity: 1;

}
.video-container.show iframe{
    transform: scale(1);
}
/*Movies LIST*/
.movies-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.movies-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 9px 3px;
    height: 14px;
    background-color: #1c1c1cdb;
    
}
.movies-img img{
    width: 100%;
    height:135px ;
}
.movies-body{
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-align: center;
}
.movies-body p{
    margin: 3px 0px;
    color: white;
    font-family: 'Varela Round';
    font-weight: 500;
    font-size: 13px;
    overflow: hidden;
    
}