@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=PT+Sans+Narrow&family=Varela+Round&display=swap');
:root {
    --main-bg-color:#050707;
    --main-blue-color:#1CD6FF;
}
body{
    margin: 0;
    padding: 0;
    /* background-color: #3D3D3D; */
    /* background-color: #0C0C0D; */
    background-color: #0f0f13;
}
*{
    text-decoration: none;
}
.heading{
 width: 100%;
 height: 60px;
 /* background-color: #323232; */
 background-color: #101010;
 position: sticky;
 top: 0;
 z-index: 9999999;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 /* box-shadow: 0 -1px 3px rgb(249 248 248 / 53%); */
 box-shadow: 0 -1px 4px  #1CD6FF;
}
.heading-text {
    display: flex;
}
.heading-text span{
    font-size: 19px;
    margin-top: 9px;
    font-family: sans-serif;
    color: white;
    opacity: 90%;

}
.heading-text h1{
    font-family:sans-serif;
    color: white;
    opacity: 90%;
    font-size: 29px;
    justify-content: center;
    margin: 0;
    text-align: center;
}
.heading h1 span{
    font-size: 29px;
    color: var(--main-blue-color);
}

.swiper{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 1%;
}
.swiper::-webkit-scrollbar{
    display: none;
}
.latest-movies-section{
    display: flex;
  }
  /* .latest-movies-section a{
    text-decoration: none;
  } */
  .movies-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    margin: 8px 6px;
    height: 180px;
    border: 1px solid rgba(0,0,0,.14);
    /* box-shadow: 0 1px 1px rgb(0 0 0 / 10%); */
    /* box-shadow: 0 -1px 3px  #1CD6FF; */
    box-shadow: 0 -1px 3px  #ffffff;
    /* background: #3D3D3D;  */
    background-color: var(--main-bg-color);
    /* background-color: #323232; */
    /* box-shadow: 0 0px 1px #1cd6ff;
    background: #3d3d3d61;   */
    overflow: hidden;
    border-radius: 7px;
}
.movies-img{
    width: 110px;
}
.movies-img img{
    width: 100%;
    height: 139px;
    object-fit: cover;
}
.movies-body{
    text-align: center;
}
.movies-body h3{
    margin: 1px 0px;
    color: black;
    font-family: 'Varela Round';
    /* font-family: 'manjari'; */
    font-weight: 600;
    font-size: 10px;  
}
.movies-body h5{
    margin: 0px;
    color: black;
    font-family: 'Varela Round';
    font-weight: 400;
    font-size: 7px;
}
.movies-body h4{
    margin: 1px 0;
    font-size: 10px;
    font-weight: 600;
    /* color: var(--main-blue-color); */
    color: white;
    opacity: 69%;
    font-family: 'Varela Round';
}
.movies-body h6{
    margin: 1px 0;
    font-size: 9px;
    font-family: sans-serif;
    font-weight: 300;
    color: white;
    opacity: 46%;
}
.movies-body p{
    margin: 1px 0;
    font-size: 11px;
    font-family: 'Varela Round';
}
.black-header{
    /* background-color: rgb(76 71 71); */
    /* background: #3D3D3D;  */
    /* width: 96%; */
    /* background-color: #323232; */
    background-color: var(--main-bg-color);
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px 12px;
    /* border: 1px solid #1cd6ff4f; */
    box-shadow: 0 0px 2px  #ffffff;
}
.black-movie-header{
    background-color: var(--main-bg-color);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px 12px;
    /* border: 1px solid #1cd6ff4f; */
    box-shadow: 0 0px 2px  #ffffff;
}
.black-movie-header h1{
    margin: 0;
    color: #fff;
    opacity: 89%;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-family:sans-serif;
}
.black-movie-header h1 i{
    color: var(--main-blue-color);
    margin: 6px 6px 00 0;
    size: 16px;
}
.small-head h3 i {
    color: var(--main-blue-color);
    margin: 1px 2px 0 0;
}
.black-header i {
    margin-right: 5px;
    font-size: 20px;
}
.black-header h1{
    margin: 0;
    color: white;
    opacity: 76%;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-family: 'Varela Round';
}

.main{
    overflow: hidden;
    width: 98%;
    margin-left: 1%;
    margin: 16px auto;
    background-color: var(--main-bg-color);
    /* border: 1px solid white;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%); */
    box-shadow: 0 0px 2px  #ffffff;
    border-radius: 4px;
}
.movie-section{
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #353535;
    margin-bottom: 12px;
}
.movie-section img {
    width: 140px;
    height: 190px;
    max-height: 210px;
    object-fit: cover;
    border-radius: 10px;
}
.movie-details-section{
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.movie-trailer-btn{
    width: 90%;
    height: 25px;
    background: var(--main-blue-color);
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    opacity: 89%;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 15px;
}
.small-head{
    margin: 5px 0px 5px 5px;
}
.small-head h3{color: white;opacity: 89%; font-size: 18px;
    font-family: sans-serif;
    margin: 0;
    line-height: 22px;
    letter-spacing: 0.3px;
    font-weight: 600;
    margin-left: 5px}
.small-head h3 span{color: var(--main-blue-color);}
.movie-tittle{display: flex;padding: 3px;}
.movie-tittle h4{margin: 0;color: #fff;font-size: 15px;opacity: 79%;flex-shrink: 0;font-family: sans-serif;font-weight: 500;letter-spacing: 0.3px;}
.movie-tittle h1{margin: 0;font-size: 15px;margin-left: 5px;color: #fff;opacity: 49%;font-family: sans-serif;letter-spacing: 0.3px;}
.movie-tittle i{color: var(--main-blue-color);margin-right: 5px;opacity: 89%;}
.movie-details h4{ 
   line-height: 22px;font-weight: 500; margin: 0 0 0 5px;font-size: 13px;color: #fff;opacity: 49%;font-family: sans-serif;letter-spacing: 0.3px;}
.movie-details h3{margin: 0;color: #fff;font-size: 14px;opacity: 79%;flex-shrink: 0;font-family: sans-serif;font-weight: 500;letter-spacing: 0.3px;line-height: 22px;}
/* .movie-cast h3{margin: 0;font-weight: 400;font-size: 15px;opacity: 89%;color: white;font-family: 'varela round';letter-spacing: .03em;} */
.movie-details{    display: flex;justify-content: flex-start;padding: 4px;}
/* .release-date{display: flex;align-items: center;padding: 5px;}
.release-date h4{ margin: 0;font-size: 14px;color: white;font-family: 'Varela Round';opacity: 23%;margin-left: 4px;}
.release-date i{color: white;margin-right: 5px;font-size: 14px; opacity: 62%;} */
.details-col{display: flex;/* margin: 10px 0px 0px 10px; */padding: 5px;margin-left: 5px;}
.details-col h4{margin: 0;color: #fff;font-size: 15px;opacity: 79%;flex-shrink: 0;font-family: sans-serif;font-weight: 500;letter-spacing: 0.3px;}
.details-col p{margin: 0 0 0 7px;color: #fff;opacity: 49%;font-family: sans-serif;letter-spacing: 0.3px;}
.story h5{margin: 0 0 0 10px;color: #fff;opacity: 49%;font-family: sans-serif;letter-spacing: 0.5px;font-size: 16px;font-weight: 400;line-height: 22px;}
.story h6{margin: 0 0 0 10px;color: #fff;opacity: 49%;font-family: sans-serif;letter-spacing: 0.5px;font-size: 16px;font-weight: 400;text-indent: 35px;line-height: 22px;}
/*Actor Swiper Css*/
.movie-actor{
    width: 100px;height: 157px;overflow: hidden;margin-right: 10px;border: 1px solid #353535;;border-radius: 7px;padding: 2px;overflow: hidden;}
.movie-actor img{width: 100%;height: 110px;max-height: 120px;object-fit: cover;border-top-left-radius: 7px;border-top-right-radius: 7px;}
.movie-actor h6{margin: 2px 0 4px;letter-spacing: 0.4px;font-size: 10px;font-family: sans-serif;color: #fff;font-weight: 500;text-align: center;opacity: 79%;}
.movie-actor p{margin: 0;text-align: center;font-size: 9px;color: #fff;opacity: 29%;font-family: sans-serif;font-weight: 400;letter-spacing: 0.3px;}
.actors-swipe{display: flex;}
.actor-swiper{border-top: 1px solid #353535;border-bottom: 1px solid #353535;width: 100%;padding: 10px 5px 10px 5px;}

.video-row{
    margin-right: 4PX;
    margin-left: 6px;
}
.video-row iframe{
    width: 300PX;
}
.video-swiper{
    border-bottom: 1px solid #353535;padding: 5px 0 8px 0px;
}