@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=PT+Sans+Narrow&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@100;400&display=swap');
:root {
    --main-bg-color:#050707;
    --main-blue-color:#1CD6FF;
    --rich-black:   hsl(222, 25%, 10%);
    --oxford-blue-header: hsl(218, 39%, 14%);
    --light-text:           hsl(214, 84%, 56%);
}
h1 h2 h3 h4 h5{
    margin: 0;padding: 0;
}
body{margin: 0;
    padding: 0;
    /* background-color: #0f0f13; */
    background-color: var(--rich-black);
    color: #fff;
}
*{text-decoration: none;}



/* background: linear-gradient(0deg,#051c2b 20px,transparent); */
.website-header{
    background-color: var(--oxford-blue-header);

    /* opacity: 80%; */
    /* box-shadow: 0 -1px 4px #1cd6ff; */
    /* background: linear-gradient(97deg,#0649a7,#0099ffb3 100%); */
    padding: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    /* justify-content:center ; */
    align-items: center;
    padding: 20px 10px;
}
.website-logo{
    display: flex;
    width: 40%;
    margin-left: 10%;
    /* justify-content: center;
    align-items: center; */
}
.website-logo h1{
    margin: 0;
    font-size: 25px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.6px;
}
.website-logo span{
    color: var(--main-blue-color);
}
.website-logo img{
    width: 100%;
    height: 100%;
}
.movie-cover-img{
    position: relative;
    width: 100%;
}
.img-b{
    background: linear-gradient(0deg,var(--rich-black) 20px,transparent);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    min-width: 100%; 
}
.movie-cover-img img{
    max-height: 250px;
    object-fit: cover;
    width: 100%;
}
.main-two{margin: 0 2%;}
.movie-section{display: flex;}
.movie-poster{width: 120px;}
.movie-poster img{width: 100%;object-fit: cover;opacity: 90%;}
.movie-details{display: flex;flex-direction: column;padding: 7px;}
.movie-details h1{font-size: 16px;font-family: 'Poppins', sans-serif;font-weight: 500;margin: 0;}
.movie-details h3{    margin: 0;font-size: 11px;font-family: sans-serif;font-weight: 400;margin-top: 12px;}
.span-div{margin-top: 5px;}
.span-div span{    border-radius: 80px;font-size: 12px;height: 14px;line-height: 15px;padding: 0 5px;background-color: #b0bec5;color: #000;display: inline-block;font-weight: 700;white-space: nowrap;font-family: sans-serif;margin-right: 5px;}




/*sticky ads*/
/* .sticky-ad{position: sticky;bottom: 0;}
.ad-center-sticky{width: 100%;max-height: 80px;background-color: red;display: flex;justify-content: center;}
#close{width: 20px;height: 17px;background-color: #fff;text-align: center;border: 1px solid #8e6c6c;position: absolute;right: 0;top: -40px;} */
