<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5VRBV3N');</script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/logo/dramalite-icon.png" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/dramalite-icon.png">
  <link rel="icon" href="/images/logo/dramalite-icon.png" type="image/x-icon">
  <link rel="icon" sizes="32x32" href="/images/logo/dramalite-icon.png" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/logo/dramalite-icon.png">
  <link rel="stylesheet" href="./new-file.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>

<body>
  <!-- Google Tag Manager (noscript) ---->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VRBV3N" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <div class="web-nav-bar">
    <a href="/" class="logo">
      <img src="./dramalitelogo.png" alt="Dramalite" class="lazy-photo" srcset="">
      <h2>Dramalite</h2>
      <span>.com</span>
    </a>

        <div class="signup">
          <!-- <a href="#"><i class="fa fa-solid fa-user-plus"></i></a> -->
          <a href="/auth/login">Log in</a>
          <a href="/auth/signup">Signup</a>

        </div>


  </div>
  <div class="search-sec">
    <div class="search-bar">
      <form action="/search-movie" method="post">
        <input class="form-control" type="text" name="search" placeholder="Type movie name" required>
        <button class="search-btn" type="submit">Search</button>
      </form>
    </div>
  </div>


  <!--------------------------------Movies Categories Swipe---------------------->
  <div class="other-sec">
    <div class="nav-bar-sticky ">
      <ul>
        <span>Movies</span>
        <div class="nav-swiper">
          <li><a href="/" title="Home Page">Home</a></li>
          <li><a href="/malayalam-movies" title="Malayalam Movies Page">Malayalam</a></li>
          <li><a href="/tamil-movies" title="Tamil Movies Page">Tamil</a></li>
          <li><a href="/hindi-movies" title="Hindi Movies Page">Hindi</a></li>
          <li><a href="/telugu-movies" title="Telugu Movies Page">Telugu</a></li>
          <li><a href="/english-movies" title="Hollywood Movies Page">Hollywood</a></li>
          <li><a href="/kannada-movies" title="Other Movies Page">Kannada</a></li>
        </div>
      </ul>
    </div>
  </div>


  <script>
    function menuToggle() {
      const toggleMenu = document.querySelector(".menu");
      toggleMenu.classList.toggle("active");
    }
  </script>

<!-----------------------------------------------------------------CODE AREA--------------------------------->









    <div class="err-msg">
        <div class="msg "></div>
    </div>
    <div class="movie-main">
        <div class="blue-header">
            <h1>
               When the phone rings
            </h1>
        </div>
        <div class="fst-sec">
            <div class="movie-poster">
                <img data-src="./movie1.jpg" class="lazy-photo">
            </div>
            <!--------RATE SECTION-------------------------------->
          
                <div class="rate-section">
                    <div class="rate-number">
                        <div class="number">
                            <h4>
                                10
                            </h4>
                        </div>
                    </div>
                    <div class="rate-dettails">
                        <div class="rate-form">
                            <form id="movie-rating-form" action="" method="post">
                                <input id="movie-rating" type="range" min="5" max="10" step="0.5" class="form-control-rate"
                                    name="ratingValue" required="required">
                                <div id="movie-rating-value" class="value">
                                    100
                                </div>
                                <input type="text" name="movieId" value="<%= movie._id%>" hidden>
                                <button type="submit"> Rate now</button>
                            </form>
                        </div>
                        <div class="rate-d">
                            <p>Ratings: <span>
                                <!-- <% if(rating.rating){ %> -->
                                    10
                                <!-- <% }else{ %>
                                    0
                                <% } %> -->
                                </span> from
                                <!-- <% if(rating.ratingCount){ %> -->
                                    100
                                <!-- <% }else{ %>
                                    0
                                <% } %> -->
                                 
                                 users</p>
                        </div>
                        <div class="rate-d">
                            <p>Reviews: </p>
                            <a href="#">5 users</a>
                        </div>
                    </div>
                </div>


                <hr>

                    <!-----------STORY SECTION----------------->
                    <div class="story-sec">
                        <p style="font-family: PingFangSC-Regular, Tahoma, Microsoft Yahei, sans-serif;;">
                           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, quidem odit. Cupiditate expedita, iste reprehenderit, dignissimos dolorem laboriosam nobis ducimus ipsam consectetur voluptatibus illum recusandae, esse corporis corrupti in eius quod rem placeat quae ipsa velit pariatur tenetur? Maiores porro eaque praesentium quaerat dolore mollitia, incidunt aperiam modi nobis tempore.
                        </p>

                    </div>

                    <hr>

                    <div class="dettails-section">
                        <div class="movie-dettails">
                            <div class="dettails-name">
                                <h4>Movie Name</h4>
                            </div>
                            <div class="dettails">
                                <p>
                                    WHen the phone rings
                                </p>
                            </div>
                        </div>
                        <hr>

                        <div class="movie-dettails">
                            <div class="dettails-name">
                                <h4>Language</h4>
                            </div>
                            <div class="dettails">
                                <p>
                                    Malayalam
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="movie-dettails">
                            <div class="dettails-name">
                                <h4>Release Date</h4>
                            </div>
                            <div class="dettails">
                                2025
                            </div>
                        </div>
                        <hr>
                        <div class="movie-dettails">
                            <div class="dettails-name">
                                <h4>OTT Date</h4>
                            </div>
                            <div class="dettails">
                                    <p>
                                       May 2 2025
                                    </p> 
                          
                            </div>
                        </div>
                        <hr>
                        <div class="movie-dettails">
                            <div class="dettails-name">
                                <h4>Genres</h4>
                            </div>
                            <div class="dettails">
                                <p>Action</p>
                            </div>
                        </div>
                        <hr>
                        
                        <div class="movie-dettails">
                            <div class="dettails-name">
                                <h4>Director</h4>
                            </div>
                            <div class="dettails">
                                
                                        <p>
                                            Park hyun
                                        </p>
                                    
                            </div>
                        </div>
                        <hr>
                        
                        <div class="movie-dettails">
                            <div class="dettails-name">
                                <h4>Duration</h4>
                            </div>
                            <div class="dettails">
                                60 min
                            </div>
                        </div>
                        <hr>
                       
                    </div>
        </div>
    </div>

    <!-------------------CAST SECTION------------------------>
    <div class="other-sec">
        <div class="left-blue-header">
            <h2>Cast</h2>
        </div>

        <div class="swiper">
            <div class="actor-swp">
                
                <div class="actorswp">

                    <a href="/celebs/<%= movie.actid1 %>" title="{{movie.actorname1}} Page">
                        
                        <img class="lazy-photo" data-src="./biju.jpg" alt=" {{movie.actorname1}}.jpg" />
                        
                        <h6>Ji chang wook</h6>
                        <p>JI chanf</p>
                    </a>
  
                </div>

                <div class="actorswp">

                    <a href="/celebs/<%= movie.actid1 %>" title="{{movie.actorname1}} Page">
                        
                        <img class="lazy-photo" data-src="./ivana.jpg" alt=" {{movie.actorname1}}.jpg" />
                        
                        <h6>Min yung</h6>
                        <p>JI yung</p>
                    </a>
  
                </div>
                
            </div>
        </div>

    </div>

    <!--------------------------IMAGE SECTION-->
    <div class="other-sec">
        <div class="left-blue-header">
            <h2>Images</h2>
            <a href="/movie/all-images/<%= movie._id%>">View all</a>
        </div>
        <div class="images">
            <div class="image">
                <a href="/image/download?imgUrl=<%= movie.images[i] %>"><img data-src="./biju.jpg" alt="" class="lazy-photo"></a>
            </div>
            <div class="image">
                <a href="/image/download?imgUrl=<%= movie.images[i] %>"><img data-src="./biju.jpg" alt="" class="lazy-photo"></a>
            </div>

        </div>
    </div>

<!-------------------------------WHERE TO EATCH------------>
    <!-- <div class="other-sec">
        <div class="left-blue-header">
            <h2>Where to watch</h2>
        </div>
        <div class="whereToWatch">
            <% if(movie.moviePoster) { %>
            <% if(movie.whereToWatch.ottName) { %>
            <div class="where-img">
                <a href="<%= movie.whereToWatch.ottUrl %>" >
                    <img class="lazy-photo" data-src="<%= movie.whereToWatch.ottImg%>" alt="">
                    <%= movie.whereToWatch.ottName%>
                </a>
            </div>
 

        </div>
    </div> -->
    
    <!-----------------------TRAILER SECTION------------------->
    <!-- <% if(movie.ytlink) { %>
    <div class="other-sec">
        <div class="left-blue-header">
            <h2>Trailer</h2>
        </div>
    <div class="movie-trailer">
        <iframe 
        data-src="<%= movie.ytlink%>" class="lazy-photo"> 
        </iframe>
    </div>
    </div>
    <% } %> -->
    
    <!--------------------REVIEW SECATION------------------------------>
    <div class="other-sec" id="review">
        <div class="left-blue-header">
            <h2>Reviews</h2>
            <a href="/drama/write-review/<%= movie._id%>">Write Review</a>
        </div>
            <div class="review-section">
                
                <div class="review">
                    <div class="user-dettails">
                        <a href="/user/profile/<%= review[i].userDettails[0]._id %>" class="user-pic">
                            <img data-src="./biju.jpg" class="lazy-photo" alt="User Profile pic">
                        </a>
                        <div class="user-name">
                            <a href="/user/profile/<%= review[i].userDettails[0]._id %>">Fahad</a>
                            <p><span>5</span> people liked this review</p>
                            <div class="user-like">
                                <div class="like">
                                    <form id="like-form" action="/drama/like-review" method="post">
                                        <input type="text" value="<%= movie._id%>" name="movieId" hidden>
                                        <input type="text" value="<%= review[i].userDettails[0]._id %>" name="reviewUserId" hidden>
                                        <button type="submit"><i class="fa-solid fa-thumbs-up"></i></button>
                                    </form>
                                   
                                    <span>12</span>
                                </div>
                                <div class="dislike">
                                    <form id="unlike-form" action="/drama/dislike-review" method="post">
                                        <input type="text" value="<%= movie._id%>" name="movieId" hidden>
                                        <input type="text" value="<%= review[i].userDettails[0]._id %>" name="reviewUserId" hidden>
                                        <button type="submit"><i class="fa-solid fa-thumbs-down"></i></button>
                                    </form>
                                    <span>10</span>
                                </div>
                            </div>
                        </div>
                        <div class="review-rating">
                            <div class="rating-box">
                                <div class="rating-head">
                                    <h4>Overall</h4>
                                    <p>12</p>
                                </div>
                                <div class="rating-body">
                                    <div class="review-rating-body">
                                        <h4>Story</h4>
                                        <p>10</p>
                                    </div>
                                    <div class="review-rating-body">
                                        <h4>Cast</h4>
                                        <p>8</p>
                                    </div>
                                    <div class="review-rating-body">
                                        <h4>Rewatch </h4>
                                        <p>7</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-dettails">
                        <div class="review-text">
                            <h3>Nice story about to start</h3>
                            <p style="font-family: PingFangSC-Regular, Tahoma, Microsoft Yahei, sans-serif;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam voluptas ipsum consequuntur.</p>
                        </div>
    
                    </div>
                </div>
                
                <div class="reivew-all">
                    <a href="/drama/all-review/<%= movie._id%>">View All</a>
                </div>
            </div>
    </div>
    
    <div class="di">

    </div>
    <style>


    </style>
<!-------------------------------LATEST UPDATE---------------------------->
<div class="other-sec">
    <div class="left-blue-header">
        <h2>Latest Update</h2>
        <a href="/latest-update">View all</a>
    </div>
    <div class="swiper">
        <div class="movie-swape">
        <div class="movies">
          <a  href="/drama/<%= latestUpdate[i]._id %>">
          <div class="movie-s">
            <img data-src="./movie2.jpg" class="lazy-photo" alt="<%= latestUpdate[i].name %>.jpg">
            <h2>When the phone rings</h2>
            <p>Korean</p>
          </div>
          </a>
        </div>

    </div>
    </div>  
</div>  

<!-------------------------------NEXT RELEASE---------------------------->

<!-------------------------------Last RELEASEd MOVIES---------------------------->






    <script>
        const movieRating = document.getElementById('movie-rating')
        const movieRatingValue = document.getElementById('movie-rating-value')
        movieRatingValue.textContent = movieRating.value
        movieRating.oninput = function () {
            movieRatingValue.textContent = this.value
        }

        $(document).ready(function () {
            $('#movie-rating-form').submit(function (event) {
                event.preventDefault()
                var formData = $(this).serialize();
                $.ajax({
                    url: `/drama/add-rating`,
                    type: 'POST',
                    headers:"Authorization",
                    data: formData,
                    success: function (data) {
                        console.log(data)
                        
                        if (data.complete) {
                            $('.msg').addClass('success').text(data.msg);
                            setTimeout(function () {
                                $('.msg').removeClass('success').text('');
                            }, 1500)
                        } else if(data.auth){
                            $('.msg').addClass('error').text(data.msg);
                            setTimeout(function(){
                            	window.location.replace(`/auth/login`)
                            },2000)
                        } else{
                            $('.msg').addClass('error').text(data.msg);
                            setTimeout(function () {
                                $('.msg').removeClass('error').text('');
                            }, 3000)
                        }

                    }
                })
            })
        })

    </script>













































<div class="end-container">
    <div class="connect-social">
      <div class="connect-text">
        <p>Connect us :</p>
      </div>
      <a href="https://www.instagram.com/dramalitecom" class="connect-icons"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://t.me/dramalitecom" class="connect-icons telegram"><i class="fa-brands fa-telegram"></i></a>
      
    </div>
    <div class="footer-privacy">
      <a href="/privacy-policy">Privacy Policy</a> | 
      <a href="/terms-conditions">Terms & Conditions</a> |
      <a href="/contact">Contact us</a>
    </div>

    <div class="end-copyright">
      <i class="fa fa-copyright" aria-hidden="true"> </i>2021 Dramalite.om</div>
      

  
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
<script src="./ad.js"></script>